.menu-container {
    height: 100%;
    width: 100%;
}

.menu {
    border: 20px;
    font-size: 50px;
    border: 5px solid;
    display: inline-block;
    border-radius: 10px;
}

.main {
    background: rgb(255, 97, 35);
    border: 5px solid red;
    color: red;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 100px;
    text-shadow: 2px 2px 2px black;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 100px;
    text-shadow: 2px 2px 2px black;
}

.icon {
    width: 50px;
    height: 50px;
}

.poemes {
    background: rgb(0, 132, 255);
    border: 5px solid blue;
    color: blue;
}

.temoignages {
    background: rgb(0, 255, 13);
    border: 5px solid green;
    color: green;
}

button {
    border: none;
    background: none;
    font-size: 100%;
    cursor: pointer;
    position: relative;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}